.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-heading {
  position: relative;
  font-family: "Petit Formal Script", cursive;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
}

.section-padding {
  padding: 2.5em 2em;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 3.8em 2em;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 5em 2em;
  }
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #99535b;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-image: linear-gradient(45deg, #dbbdc0, #dbbdc0);
  z-index: 100;
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.nav--disable {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  color: #99535b;
  text-decoration: none;
}
.nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  border: 3px solid #99535b;
  border-radius: 8px;
  content: "";
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.nav__item:hover::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header {
  background-image: url("../img/oip-alinalukaszewskafotografia-25.JPG");
  background-size: cover;
  background-position: center;
  background-position-x: 70%;
  background-attachment: fixed;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  height: 100vh;
  text-align: center;
  color: #f6f8f7;
  background-attachment: scroll;
}
.header--disable {
  display: none;
}
.header__heading {
  position: absolute;
  top: 15%;
  color: #99535b;
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  font-weight: 300;
}
.header__timer {
  margin-top: 300px;
}
.header__timer__body {
  font-family: "Petit Formal Script", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 200px;
  overflow: hidden;
}
.header__timer .time__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
}
.header__timer .time__section--title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 2.5rem;
}
.header__timer .time__section__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
.header__timer .time__section__cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.header__timer .time__section__cards .card .number {
  margin-bottom: 10px;
  font-size: 2.5rem;
}
.header__timer .time__section__cards .card__title {
  font-size: 2.5rem;
}

.section {
  background-color: #eee;
  min-height: 100vh;
}

@-webkit-keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.nav-items-animation {
  -webkit-animation: navItemsAnimation 1s both;
          animation: navItemsAnimation 1s both;
}

.contact--disable {
  display: none;
}

.info--disable {
  display: none;
}
.info__box--icons {
  height: 100px;
  display: block;
  margin: 20px auto;
  padding: 20px 0 0 0;
}

.plan--disable {
  display: none;
}
.plan__box--icons {
  height: 100px;
  display: block;
  margin: 20px auto;
  padding: 20px 0 0 0;
}

.menu--disable {
  display: none;
}
.menu__box--icons {
  height: 100px;
  display: block;
  margin: 20px auto;
  padding: 20px 0 0 0;
}

.photos--disable {
  display: none;
}
.photos__box--icons {
  height: 100px;
  display: block;
  margin: 20px auto;
  padding: 20px 0 0 0;
}

.map--disable {
  display: none;
}
.map__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.map__box iframe {
  border: 0;
  width: 100%;
  height: 450px;
}

.tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 1em 0 0.5em 0;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

li {
  list-style: none;
}

.footer {
  display: none;
}

@media (min-width: 576px) {
  .header__heading {
    font-size: 4rem;
  }
  .header img {
    height: 300px;
  }
  .header__timer__body {
    width: 100vw;
    height: 250px;
  }
  .header__timer .time__section--title {
    font-size: 3.5rem;
  }
  .header__timer .time__section__cards .card .number {
    font-size: 3.5rem;
  }
  .header__timer .time__section__cards .card__title {
    font-size: 3.5rem;
  }
  .counter__app .time__section--title {
    font-size: 2.5rem;
  }
  .counter__app .time__section__cards .card .number {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .header__heading {
    font-size: 6rem;
  }
  .header__img {
    height: 420px;
  }
  .header__timer__body {
    width: 70vw;
    height: 250px;
  }
  .header__timer .time__section--title {
    font-size: 4.5rem;
  }
  .header__timer .time__section__cards .card .number {
    font-size: 4.5rem;
  }
  .header__timer .time__section__cards .card__title {
    font-size: 4.5rem;
  }
  .counter__app .time__section__cards .card .number {
    font-size: 3rem;
  }
  .map__box iframe {
    width: 600px;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav {
    background-image: none;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav__item {
    display: inline-block;
    font-size: 1.8rem;
  }
  .nav__item:hover::before {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .nav-desktop {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav-desktop a {
    display: inline-block;
  }
  .header__heading {
    font-size: 8rem;
    top: 10%;
  }
}
@media (min-width: 1200px) {
  .nav__item {
    font-size: 2.2rem;
  }
  .header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2em;
    height: 100vh;
    text-align: center;
    color: #f6f8f7;
    background-attachment: scroll;
  }
  .header--disable {
    display: none;
  }
  .header__heading {
    font-family: "Dancing Script", cursive;
    font-size: 8rem;
    font-weight: 300;
  }
  .header__timer__body {
    width: 50vw;
    height: 250px;
  }
  .header__timer .time__section--title {
    font-size: 4.5rem;
  }
  .header__timer .time__section__cards .card .number {
    font-size: 4.5rem;
  }
  .header__timer .time__section__cards .card__title {
    font-size: 4.5rem;
  }
}/*# sourceMappingURL=main.css.map */