// font-family: 'Dancing Script', cursive;
// font-family: 'Petit Formal Script', cursive;

@import './colors';
@import './components';
@import './mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	height: 100vh;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

// NAV
.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		@include burgerBtn;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 60%;
		}

		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	transform: translateX(100%);
	background-image: $light-blue-gradient;
	z-index: 100;
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);

	&--disable {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		font-size: 2.8rem;
		color: $pure-white;
		text-decoration: none;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: scale(0);
			border: 3px solid $pure-white;
			border-radius: 8px;
			content: '';
			transition: transform 0.3s;
		}

		&:hover::before {
			transform: scale(0);
		}
	}
}

// HEADER

.header {
	@include heroImages('../img/oip-alinalukaszewskafotografia-25-tinypng.png');

	&--disable {
		display: none;
	}

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 100vh;
	text-align: center;
	color: #f6f8f7;
	background-attachment: scroll;

	&__heading {
		position: absolute;
		top: 15%;
		color: $pure-white;
		font-family: 'Dancing Script', cursive;
		font-size: 3rem;
		font-weight: 300;
	}
	&__date {
		position: absolute;
		top: 30%;
		font-family: 'Petit Formal Script', cursive;
		font-size: 2rem;
	}

	&__timer {
		margin-top: 300px;

		&__body {
			font-family: 'Petit Formal Script', cursive;
			display: flex;
			flex-direction: column;
			width: 100vw;
			height: 200px;
			overflow: hidden;
		}

		.time__section {
			display: flex;
			flex-direction: column;
			z-index: 100;

			&--title {
				text-align: center;
				margin-bottom: 20px;
				font-weight: normal;
				font-size: 2.5rem;
			}
			&--number {
				font-family: 'Dancing Script', cursive;
				font-size: 2.5rem;
				display: none;
			}

			&__cards {
				display: flex;
				justify-content: space-evenly;
				width: 100%;

				.card {
					display: flex;
					flex-direction: column;
					text-align: center;

					.number {
						margin-bottom: 10px;
						font-size: 2.5rem;
					}

					&__title {
						font-size: 2.5rem;
					}
				}
			}
		}
	}
}

.section {
	background-color: $section-color;
	min-height: 100vh;
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes phoneAnimation {
	0% {
		scale: 1;
		transform: rotate(0deg);
	}
	10% {
		scale: 1, 1;
		transform: rotate(10deg);
	}
	20% {
		scale: 1.2;
		transform: rotate(30deg);
	}
	30% {
		scale: 1.3;
		transform: rotate(10deg);
	}
	40% {
		scale: 1, 4;
		transform: rotate(-10deg);
	}
	50% {
		scale: 1.5;
		transform: rotate(10deg);
	}
	60% {
		scale: 1.4;
		transform: rotate(0deg);
	}
	70% {
		scale: 1.3;
		transform: rotate(-10deg);
	}
	80% {
		scale: 1.2;
		transform: rotate(-20deg);
	}
	90% {
		scale: 1.1;
		transform: rotate(-10deg);
	}
	100% {
		scale: 1;
		transform: rotate(0deg);
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

////// KONTAKT ////////

.contact {
	&--disable {
		display: none;
	}

	&__box {
		&--icons {
			height: 35px;
			display: inline;

			&:hover {
				transform: scale(1.3);
				transition: 0.2s;
			}
		}

		&--tittle {
			display: flex;
			font-size: large;
			align-items: center;
			justify-content: center;
			text-align: center;
			margin: 1em 0 0.5em 0;
		}

		&--text {
			display: flex;
			justify-content: center;
			text-align: center;
			align-items: flex-start;
		}
	}
}

////// INFO ////////

.info {
	&--disable {
		display: none;
	}

	&__box {
		&--icons {
			height: 100px;
			display: block;
			margin: 20px auto;
			padding: 20px 0 0 0;
		}

		&--tittle {
			justify-content: center;
			text-align: center;
			margin: 1em 0 0.5em 0;
		}

		&--text {
			justify-content: center;
			text-align: center;
		}
		&--animation {
			text-align: justify;
			text-align: center;
			margin: 20px 0 0 30px;
			color: green;
			font-size: 4rem;
			animation: phoneAnimation 1s linear infinite both;
		}
	}
}

////// PLAN ////////

.plan {
	&--disable {
		display: none;
	}

	&__box {
		&--text {
			display: flex;
			justify-content: center;
			text-align: center;
			align-items: flex-start;
			margin: 0px 0 50px 0
		}
		&--icons {
			height: 80px;
			display: block;
			margin: 10px auto;

		}
	}
}

////// MENU ////////

.menu {
	&--disable {
		display: none;
	}

	&__box {
		&--icons {
			height: 60px;
			display: block;
			margin: auto;
		}

		&--tittle {
			justify-content: center;
			text-align: center;
			margin: 2em 0 0.5em 0;
		}

		&--text {
			line-height: 1.5em;
			justify-content: center;
			text-align: center;
			padding: 1em 0 0 0;
		}
	}
}

////// ZDJĘCIA ////////

.photos {
	&--disable {
		display: none;
	}

	&__box {
		&--text {
			display: flex;
			justify-content: center;
			text-align: center;
			align-items: flex-start;
		}
	}
}

////// MAPA /////////

.map {
	&--disable {
		display: none;
	}

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;

		iframe {
			border: 0;
			width: 100%;
			height: 450px;
		}
	}
}

li {
	list-style: none;
}

.footer {
	display: none;
}

.active-section {
	color: #dc6327;
	&::before {
		transform: scale(0);
		border: 3px solid #dc6327;
		border-radius: 8px;
		content: '';
		transition: transform 0.3s;
		background-color: grey;
		opacity: 0.2;
	}

	&:hover::before {
		transform: scale(0);
	}
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 50px;
	padding: 10px 20px;
	background-color: #eee;
	border: 2px solid #94555c;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	&--link {
		font-weight: bold;
		color: #94555c;
		text-transform: uppercase;
		text-decoration: none;
	}
	&:hover {
		background-color: #94555c;
		transition: 0.5s;
		.button--link {
			color: #eee;
			transition: 0.5s;
		}
	}
}

////// MEDIA /////

@media (min-width: 576px) {
	.header {
		&__heading {
			font-size: 4rem;
		}

		img {
			height: 300px;
		}

		&__timer {
			&__body {
				width: 100vw;
				height: 250px;
			}

			.time__section {
				&--title {
					font-size: 3.5rem;
				}

				&--number {
					font-size: 3.8rem;
				}

				&__cards {
					.card {
						.number {
							font-size: 3.5rem;
						}

						&__title {
							font-size: 3.5rem;
						}
					}
				}
			}
		}
	}

	.counter {
		&__app {
			.time__section {
				&--title {
					font-size: 2.5rem;
				}

				&__cards {
					.card {
						.number {
							font-size: 3rem;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.header {
		&__heading {
			font-size: 6rem;
		}

		&__img {
			height: 420px;
		}

		&__timer {
			&__body {
				width: 70vw;
				height: 250px;
			}

			.time__section {
				&--title {
					font-size: 4.5rem;
				}
				&--number {
					font-size: 4.4rem;
				}

				&__cards {
					.card {
						.number {
							font-size: 4.5rem;
						}

						&__title {
							font-size: 4.5rem;
						}
					}
				}
			}
		}
		&__date {
			font-size: 2.5rem;
		}
	}

	.counter {
		&__app {
			.time__section {
				&__cards {
					.card {
						.number {
							font-size: 3rem;
						}
					}
				}
			}
		}
	}

	.map {
		&__box {
			iframe {
				width: 600px;
			}
		}
	}
}

@media (min-width: 992px) {
	.burger-btn {
		display: none;
	}

	.nav-mobile {
		display: none;
	}

	.nav {
		height: 0;
		background-image: none;
		transform: translateX(0%);

		&__item {
			display: inline-block;
			font-size: 1.6rem;

			&:hover::before {
				transform: scale(1);
			}
		}
	}

	.nav-desktop {
		justify-content: flex-end;
		align-items: flex-start;
		transform: translateX(0%);

		a {
			display: inline-block;
		}
	}

	.header {
		&__heading {
			font-size: 8rem;
			top: 10%;
		}
		&__timer {
			&__body {
				width: 70vw;
				height: 250px;
			}

			.time__section {
				&--title {
					font-size: 4.5rem;
				}
				&--number {
					font-size: 5rem;
				}

				&__cards {
					.card {
						.number {
							font-size: 4.5rem;
						}

						&__title {
							font-size: 4.5rem;
						}
					}
				}
			}
		}
		&__date {
			font-size: 3rem;
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		&__item {
			font-size: 1.9rem;
		}
	}

	.header {
		&--disable {
			display: none;
		}

		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 2em;
		height: 100vh;
		text-align: center;
		color: #f6f8f7;
		background-attachment: scroll;

		&__heading {
			font-family: 'Dancing Script', cursive;
			font-size: 8rem;
			font-weight: 300;
		}

		&__timer {
			&__body {
				width: 50vw;
				height: 250px;
			}

			.time__section {
				&--title {
					font-size: 4.5rem;
				}

				&__cards {
					.card {
						.number {
							font-size: 4.5rem;
						}

						&__title {
							font-size: 4.5rem;
						}
					}
				}
			}
		}
		&__date {
			font-size: 3.5rem;
		}
	}
}

@media (min-width: 1400px) {
	.nav {
		&__item {
			font-size: 2.2rem;
		}
	}
}
