.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-heading {
  position: relative;
  font-family: "Petit Formal Script", cursive;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
}

.section-padding {
  padding: 2.5em 2em;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 3.8em 2em;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 5em 2em;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: #FFD4E0;
  height: 200vh;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #BA6F84;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  transition-delay: 0.1s;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  background-image: linear-gradient(45deg, rgba(187, 208, 255, 0.75), rgba(190, 187, 255, 0.75));
  z-index: 100;
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.nav--active {
  transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  color: #BA6F84;
  text-decoration: none;
}
.nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  border: 3px solid #BA6F84;
  border-radius: 8px;
  content: "";
  transition: transform 0.3s;
}
.nav__item:hover::before {
  transform: scale(0);
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 100vh;
  text-align: center;
  color: #BA6F84;
  background-image: url("../img/daniel-j-schwarz-YtY724tdl7Y-unsplash-croped.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}
.header__heading {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  font-weight: 300;
}

@-webkit-keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
.nav-items-animation {
  -webkit-animation: navItemsAnimation 1s both;
          animation: navItemsAnimation 1s both;
}

.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
  background-color: #2e2e2e;
}

.map__box iframe {
  border: 0;
  width: 100%;
  height: 450px;
}

.tittle {
  margin: 1em 0 0.5em 0;
}

li {
  list-style: none;
}

@media (min-width: 576px) {
  .header img {
    height: 300px;
  }
}
@media (min-width: 768px) {
  .header__img {
    height: 420px;
  }
  .map__box iframe {
    width: 600px;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav {
    background-image: none;
    transform: translateX(0%);
  }
  .nav__item {
    display: inline-block;
    font-size: 1.8rem;
  }
  .nav__item:hover::before {
    transform: scale(1);
  }
  .nav-desktop {
    justify-content: flex-end;
    align-items: flex-start;
    transform: translateX(0%);
  }
  .nav-desktop a {
    display: inline-block;
  }
  .header__heading {
    font-size: 8rem;
  }
}
@media (min-width: 1200px) {
  .nav__item {
    font-size: 2.2rem;
  }
}/*# sourceMappingURL=main.css.map */