$main-color: #fca7ba;
$secondary-color: rgb(144, 230, 211);
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;

$light-green-gradient: linear-gradient(45deg, rgba(8, 255, 103, 0.75), rgba(57, 255, 8, 0.75));
$green-gradient: linear-gradient(45deg, rgba(20, 241, 27, 0.75), rgba(45, 184, 10, 0.75));
$green-gradient-solid: linear-gradient(45deg, rgb(20, 241, 42), rgb(80, 184, 10));
$light-green-gradient-solid: radial-gradient(circle at top right, rgb(0, 255, 0) 0%, rgb(187, 255, 0) 100%);
